{% extends "auctions/layout.html" %}

{% block body %}
    <h2>Active Listings</h2>

    <ul>
        {% for item in listings %}
        <img src="{{ item.imageurl }}" alt="item image">
        <li><a href="{% url 'listing' item.id %}">{{ item.title }}</a></li>
        <li>Listed by: {{ item.user }}</li>
        <li>Item: {{ item.title }}</li>
        <li>Price: {{ item.startbids }} USD</li>
        <li>Category: {{ item.category }}</li>
        {% empty %}
        <li>No item found</li>
        {% endfor %}
    </ul>
{% endblock %}